@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
html,
body{
    background-color: #d2d0d0;
    font-family: source sans pro;
    text-align: center;
    padding: 50px 100px 50px 100px;
    
}
.newspaper-container{
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow:  3px #ddd;

}

.newspaper-container
.date {
    text-align: left;

}
h1 {
    text-align: center;
    font-family: abril fatface;

}

a {
    text-align: center;
}

nav ul li {
    list-style-type:none;
    display: inline-block;

}

li a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #777;

}


main h2 {
    text-align: left;

}
h2{
    font-family: roboto slab;
    padding-bottom: 0px;
    margin-bottom: 2px;

}
main h5 {
    text-align: left;
}
h5{
    font-family: abril fatface;
    color:#dd3232;
    margin-top: 5px;
}

main img {
    width: 100%;
    height: auto;

}

 main p {
    text-align: center;
    font-family: source sans pro;
    color: #777;;
    font-size: medium;
 }

 .h4 {
    display: inline-block;
 }
h4 {
    text-align: left;
    font-family: roboto slab;
}

.more-articles {
    display: flex;
    justify-content:space-around
    padding: 10%;


}
section img{
    width: 100%;
    height: auto;
    
}
